@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mix-multiply {
    mix-blend-mode: multiply;
  }
  .mix-darken {
    mix-blend-mode: darken;
  }
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  background-color: #F8F5EE; /* off white base, like organic brand */
}
